/******* TopBar Component ******/
.navbar-wrapper .topbar {
    background: #1679ca;
}

.navbar-wrapper .topbar .brand-logo {
    position: inherit;
    display: initial;
}

.navbar-wrapper .topbar .blog-info {
    display: inline-block;
    margin-top: 12px;
}
.navbar-wrapper .topbar .blog-title {
    font-size: 21.516px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 9px;
    color: #fff;
}

.navbar-wrapper .topbar .social {
    margin-left: 5px;
    display: inline-block;
}

.navbar-wrapper .topbar .social a {
    display: inline-block;
    padding: 0 10px;
}

.navbar-wrapper .topbar .social i {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.navbar-wrapper .topbar .nav-wrapper .user-image {
    width: 50px;
    margin-top: 10px;
}

.navbar-wrapper .topbar .nav-wrapper a.user-profile {
    margin-top: 10%;
}

.navbar-wrapper .topbar .nav-wrapper li a {
    color: #fff;
    font-size: 15.11px;
    margin-top: 10px;
}

.navbar-wrapper .topbar .nav-wrapper li a:hover {
    color: #ffffffb3;
}

.navbar-wrapper .topbar .nav-wrapper li a.btn {
    background-color: transparent;
    border-radius: 3px;
    color: #fff;
    border: 1.4px solid #fff;
}

.navbar-wrapper .topbar .nav-content .menu {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.navbar-wrapper .topbar .nav-content .menu::-webkit-scrollbar {
    display: none;
}

.navbar-wrapper .topbar .nav-content .menu .item {
    display: inline-block;
    padding: 0 10px;
}

.navbar-wrapper .topbar .nav-content .nav-cta h5 {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 10px;
}

.navbar-wrapper .topbar .nav-content .menu .item h5 a,
.navbar-wrapper .topbar .nav-content .nav-cta h5 a {
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.navbar-wrapper .topbar ul a:hover {
    background-color: inherit;
}

/* Large Screen */

@media screen and (min-width: 993px) {
    .navbar-wrapper .topbar .nav-wrapper,
    .navbar-wrapper .topbar .nav-content {
        margin-left: 10%;
        margin-right: 7%;
    }
    .navbar-wrapper .topbar .nav-wrapper .user-image {
        width: 50px;
    }
    .navbar-wrapper .topbar .nav-wrapper a.user-profile {
        margin-top: 10%;
    }
    .navbar-wrapper .topbar .nav-content .menu {
        margin-top: -40px;
    }
    .navbar-wrapper .topbar .nav-content .nav-cta {
        margin-top: -40px;
    }
    .navbar-wrapper
        .topbar
        .nav-wrapper
        .dropdown-container
        .dropdown-content {
        top: 81px !important;
        left: 955px !important;
        width: 250px !important;
        border-radius: 3px;
    }
    .navbar-wrapper
        .topbar
        .nav-wrapper
        .dropdown-container
        .dropdown-content
        li
        a {
        color: #595959;
        margin-top: 5px;
        font-weight: 500;
    }
}

/* medium screen */
@media screen and (max-width: 992px) and (min-width: 601px) {
    .navbar-wrapper .topbar .nav-wrapper,
    .navbar-wrapper .topbar .nav-content {
        margin-left: 10%;
        margin-right: 7%;
    }
    .navbar-wrapper .topbar .nav-wrapper ul i {
        padding-top: 0px !important;
    }
}

/* Small Screen */

@media screen and (max-width: 600px) {
    .navbar-wrapper .topbar .nav-wrapper,
    .navbar-wrapper .topbar .nav-content {
        margin-left: 5%;
        margin-right: 1%;
    }
    .navbar-wrapper .topbar .nav-wrapper .brand-logo i {
        margin-top: 14px;
    }
    .navbar-wrapper .topbar .blog-info {
        margin-top: 0px;
    }
    .navbar-wrapper .topbar .blog-title {
        border: none;
        padding-left: 10px;
        padding-top: 9px;
    }
    .navbar-wrapper .topbar .sidenav-trigger {
        margin-top: 6px;
        color: #fff !important;
    }
    .navbar-wrapper .topbar .sidenav-trigger i {
        line-height: 45px;
    }
    .navbar-wrapper ul.sidenav li a {
        color: #333333;
    }
    .navbar-wrapper ul.sidenav .user-view {
        background-color: #0e66af;
    }
    .navbar-wrapper ul.sidenav .user-view.guest {
        padding-top: 25px;
    }
    .navbar-wrapper ul.sidenav li span.email {
        padding-top: 20px;
        color: #fff;
        font-size: 15.11px;
        font-weight: 500;
    }
    .navbar-wrapper .topbar .nav-wrapper .brand-logo {
        font-size: 35px;
        left: 0%;
        transform: translateX(7%);
    }
    .navbar-wrapper .topbar .nav-wrapper .hide-small {
        display: none;
    }

    .navbar-wrapper .topbar .nav-wrapper ul i {
        font-size: 19px;
        padding-top: 15px;
    }

    .navbar-wrapper .topbar .nav-wrapper .search {
        padding: 7px 0;
    }

    .navbar-wrapper .topbar .nav-wrapper a.hide-on-med-and-up {
        padding: 6px 9px;
        color: #ffff;
    }

    .navbar-wrapper .topbar .nav-title {
        left: 50%;
        transform: translateX(9%);
        padding: 2px 0;
    }
    .navbar-wrapper .topbar .nav-content .m12,
    .navbar-wrapper .topbar .nav-content .nav-menu {
        padding: 0px;
    }
    .navbar-wrapper .topbar .social {
        display: none;
    }
    .navbar-wrapper .topbar .nav-content .nav-cta {
        display: inline;
    }
}
