{
    "presets":[
        "es2015", "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-dynamic-import"
    ],
    "env": {
        "test": {
            "plugins": [
                "babel-plugin-dynamic-import-node"
            ]
        }
    }
}