{
    "presets":[
        "next/babel"
    ],
    "plugins": [
        "transform-class-properties"
    ],
    "env": {
        "test": {
            "plugins": [
                "babel-plugin-dynamic-import-node"
            ]
        }
    }
}