{
    "presets": ["next/babel"],
    "plugins": ["transform-class-properties"],
    "env": {
        "test": {
            "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]],
            "plugins": ["babel-plugin-dynamic-import-node"]
        }
    }
}
