/* authentication */
.auth {
    background-color: hsl(0, 0%, 99%);
    padding: 40px 0;
}

.auth .login-section {
    padding-top: 0;
    margin: 50px 0;
    background-color: #fff;
}

.auth .signup-section {
    padding-top: 0;
    margin: 20px 0;
    background-color: #fff;
}

.auth .section .login-form {
    margin: 0 30%;
}

.auth .section .heading {
    margin: 0;
    margin-bottom: 10px;
    padding: 1rem 10%;
    background-color: #1679ca;
    color: #fff;
}
.auth .section .heading h5 {
    font-weight: 500;
    font-size: 21.5116px;
    color: #fff;
}

.auth form .btn {
    padding: 0;
    display: block;
    width: 40%;
    margin: auto;
    background-color: #1679ca;
    color: #fff;
}

.auth form .btn .progress {
    background-color: transparent;
}

.auth form .btn .progress .indeterminate {
    background-color: #00437a;
}

.auth ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: hsl(0, 0%, 25%);
    opacity: 1; /* Firefox */
}

.auth :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: hsl(0, 0%, 25%);
}

.auth ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: hsl(0, 0%, 25%);
}

/* medium screen */
@media screen and (max-width: 992px) and (min-width: 601px) {
    .auth {
        background-size: contain;
        height: 100vh;
    }
    .auth .section .heading,
    .auth .section .login-form {
        margin: 0 20%;
    }
}

/* small screen */
@media screen and (max-width: 600px) {
    .auth {
        padding: 10px 0;
    }
    .auth .section .login-form {
        margin: 0 10%;
    }
    .auth .login-section {
        margin: 30px 0;
    }
}
