/* new post */
.admin-edit-post {
    padding-top: 30px;
}
.admin-edit-post .post-form {
    margin: 0 30px;
    padding: 12px 15px;
}
.admin-edit-post .post-form form {
    padding: 10px 10px 1px;
}

.admin-edit-post .post-form .editor {
    background: #fff;
    margin-top: 15px;
}
.admin-edit-post .post-form .editor .editor-controls {
    background-color: hsl(0, 0%, 90%);
    padding-top: 10px;
}
.admin-edit-post .post-form .editor .editor-controls i {
    font-size: 2em !important;
    color: hsl(0, 0%, 25%)
}
.admin-edit-post .post-form .editor .editor-controls .btn-flat:focus {
    background-color: rgba(0, 0, 0, 0);
}
.admin-edit-post .post-form .editor .editor-controls i.active {
    color: rgb(0, 165, 0);
}

.admin-edit-post .post-form .editor .editor-input {
    padding: 12px 12px;
    max-height: 300px;
    height: 300px;
    overflow-y: scroll;
}
.admin-edit-post .post-form .editor .editor-input .DraftEditor-root span {
    font-size: 16px;
}
.admin-edit-post .post-form .editor .editor-input .DraftEditor-root h5 span {
    font-size: 20px;
}
.admin-edit-post .post-form .editor .editor-input .DraftEditor-root blockquote {
    border-left-color: hsl(0, 0%, 35%);
    padding-left: 12px;
    color: hsl(0, 0%, 50%);
}
.admin-edit-post .post-form .editor .editor-input .DraftEditor-root ol {
    padding-left: 20px;
}

.admin-edit-post .post-form .editor .editor-infos {
    padding: 7px 12px;
    background-color: hsl(0, 0%, 90%);
}
.admin-edit-post .post-form .editor .editor-infos p {
    margin: 0;
}

.admin-edit-post .post-form .publish-section {
    background-color: hsl(0, 0%, 99%);
}
.admin-edit-post .post-form .card-title {
    font-weight: 700;
}
.admin-edit-post .post-form .card-action {
    background: hsl(0, 0%, 97%);
    border-bottom: 4px solid hsl(145, 100%, 19%);
}

@media screen and (max-width: 600px) {
    .admin-edit-post .post-form {
        margin: 0 5px;
        padding: 12px 15px;
    }
    .admin-edit-post .post-form .editor .editor-controls {
        padding-bottom: 10px;
    }
    .admin-edit-post .post-form .m4 {
        padding-top: 40px;
    }
}
