/* edit profile */
.edit-profile {
    padding-top: 30px;
}
.edit-profile .edit-picture,
.edit-profile .edit-text {
    border-left: 4px solid #0e66af;
    margin: 15px 30px;
    background-color: #fff;
}
.edit-profile .edit-picture .heading {
    text-align: center;
    padding: 12px 15px;
}
.edit-profile .edit-picture .preview-cont {
    width: 10%;
    margin: auto;
}
.edit-profile .edit-picture .preview-cont .img-preview {
    max-width: 100%;
}
.edit-profile .edit-picture .file-uploader {
    padding: 0px 15px;
}
.edit-profile .edit-picture .file-uploader .input-field {
    padding: 0 20%;
}
.edit-profile .edit-picture .file-uploader .input-field .btn {
    margin-top: 1px;
}
.edit-profile .edit-picture .file-uploader .input-field .btn:hover {
    background: #fff;
}
.edit-profile .edit-picture .file-uploader .input-field .submit-btn {
    text-align: center;
}
.edit-profile
    .edit-picture
    .file-uploader
    .input-field
    .submit-btn
    .btn-flat {
    color: #fff;
    background-color: #1679ca;
}
.edit-profile .edit-text {
    padding: 15px 20px;
}
.edit-profile .edit-text .btn-flat {
    color: #fff;
}

/* small screen */
@media screen and (max-width: 600px) {
    .edit-profile .edit-picture .preview-cont {
        width: 50%;
        margin: auto;
    }
    .edit-profile .edit-picture .file-uploader {
        padding: 0px 5px;
    }
    .edit-profile .edit-picture .file-uploader .input-field {
        padding: 0 5%;
    }
    .edit-profile .edit-picture .file-uploader .input-field .btn,
    .edit-profile
        .edit-picture
        .file-uploader
        .input-field
        .file-path-wrapper {
        padding-left: 0;
    }
    .edit-profile
        .edit-picture
        .file-uploader
        .input-field
        .file-path-wrapper {
        padding-right: 17px;
    }
    .edit-profile .edit-picture,
    .edit-profile .edit-text {
        border-top: 4px solid #0e66af;
        border-left: none;
    }
}
