/* Dashboard */

.dashboard {
    padding-top: 30px;
}
.dashboard .welcome-card {
    background: #fff;
    margin: 0 30px;
    padding: 12px 15px;
}
.dashboard .welcome-card h5 {
    font-size: 25px;
}
.dashboard .welcome-card p {
    font-size: 16px;
    color: hsl(0, 0%, 45%);
    margin-top: -3px;
}
.dashboard .welcome-card .actions-sec a {
    padding-left: 10px;
}