/* side nav */
.admin-nav .nav-wrapper {
    padding-left: 15%;
    padding-right: 4%;
}
.admin-nav .brand-logo, .admin-nav ul a{
    color: hsl(0, 0%, 40%) !important;
}
.sidenav .user-view .name {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 700;
    color: hsl(0, 0%, 90%);
}
.sidenav .user-view {
    padding: 30px 28px 0;
}
.sidenav li > a {
    color: #757575;
    font-weight: 600;
}
.sidenav li > a.active {
    color: #424242;
}
