/************** Body **************/
.page-body {
    padding: 3rem 10% 2% 10%;
}

.page-body .author-info {
    padding-bottom: 0px;
}

.page-body .user-posts {
    padding-top: 0px;
}

.page-body .author-desc h1 {
    font-size: 36px;
    letter-spacing: -1.3px;
    font-weight: 600;
    margin-bottom: 13px;
}

.page-body .author-desc p {
    color: #000000bf;
    font-size: 17px;
}

.page-body .author-meta-info {
    color: #0000008a;
    font-size: 15px;
    font-weight: 400;
}

.page-body .author-image {
    width: 130px;
    max-width: 130px;
}

.page-body .author-image img{
    border-radius: 50%;
}

.page-body .user-posts h5 {
    font-size: 20px;
    color: #424242;
    margin-bottom: 30px;
    margin-top: 0px;
    font-weight: 500;
    letter-spacing: -1px;
}

.page-body .user-posts .card-title {
    font-weight: 600;
    color: #333;
    font-size: 30px;
    margin-bottom: 19px;
}

.page-body .user-posts .card-image {
    margin-top: 15px;
    margin-bottom: 23px;
    border-radius: 3px;
    max-height: 230px;
    height: 230px;
    overflow: hidden;
}

.page-body .user-posts .card-content p {
    font-size: 20px;
    color: #737373;
}

.page-body .user-posts .card-action {
    border-top: none;
    border-bottom: 4px solid #0e66af;
    padding-top: 0;
}

.page-body .user-posts .card .card-action .author {
    display: flex;
}

.page-body .user-posts .card .card-action .author .author-image {
    max-width: 8%;
    width: 8%;
    margin-right: 2px;
    border: none;
}

.page-body .user-posts .card .card-action .author .author-image img {
    width: 40px;
}

.page-body .user-posts .card .card-action .author .info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.page-body .user-posts .card .card-action .author .info .name {
    font-weight: 700;
    font-size: 15.11px;
    text-transform: capitalize;
    color: #000000e0;
}

.page-body .user-posts .card .card-action .author .info .date {
    font-weight: 500;
    font-size: 13.432px;
    color: #000000bf;
}

@media screen and (max-width: 600px) {
    .page-body {
        padding: 2%;
    }
    
    .page-body .author-image img{
        border-radius: 0px;
    }

    .page-body .user-posts .card-image {
        margin-bottom: 1px;
        max-height: 150px;
    }

    .page-body .user-posts .card-title {
        font-size: 25px;
    }

    .page-body .user-posts .card .card-action .author .author-image {
        max-width: 17%;
        width: 17%;
    }
}
