/**
 * ./src/style/home.css
 */

/******* TopBar Component ******/

.topbar {
    background: rgb(0, 100, 0);
}

.topbar .nav-wrapper .user-image {
    width: 50px;
}

.topbar .nav-wrapper a.user-profile {
    margin-top: 10%;
}

.topbar .nav-content .menu {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-top: 19px;
}

.topbar .nav-content .menu::-webkit-scrollbar {
    display: none;
}

.topbar .nav-content .nav-cta {
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    margin-top: 19px;
}

.topbar .nav-content .social {
    margin-top: 23px;
}

.topbar .nav-content .menu .item,
.topbar .nav-content .social a {
    display: inline-block;
    padding: 0 10px;
}

.topbar .nav-content .menu .item h5 a,
.topbar .nav-content .nav-cta h5 a {
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.topbar .nav-content .social i {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.topbar .nav-content .social a.btn {
    border-radius: 8px;
    height: 25px;
    line-height: 25px;
    margin-left: 15px;
    margin-top: -5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.3);
}

.topbar ul a:hover {
    background-color: inherit;
}

/* Large Screen */

@media screen and (min-width: 993px) {
    .topbar .nav-wrapper,
    .topbar .nav-content {
        margin-left: 10%;
        margin-right: 7%;
    }
    .topbar .nav-wrapper .user-image {
        width: 50px;
    }
    .topbar .nav-wrapper a.user-profile {
        margin-top: 10%;
    }
}

/* medium screen */
@media screen and (max-width: 992px) and (min-width: 601px) {
    .topbar .nav-wrapper .brand-logo {
        font-size: 35px;
        left: 8%;
        transform: translateX(-56%);
    }
    .topbar .nav-content .m7 {
        margin-top: -31px;
        transform: translateX(30%);
    }

    .topbar .nav-content .m4 {
        padding-left: 30px;
    }

    .topbar .nav-content .m12 {
        text-align: center;
    }

    .topbar .nav-content .nav-cta,
    .topbar .nav-content .menu {
        margin-top: 26px;
    }
}

/* Small Screen */

@media screen and (max-width: 600px) {
    .topbar .nav-wrapper,
    .topbar .nav-content {
        margin-left: 5%;
        margin-right: 1%;
    }
    .topbar .nav-wrapper .brand-logo i {
        margin-top: 14px;
    }
    .topbar .nav-wrapper .brand-logo {
        font-size: 35px;
        left: 0%;
        transform: translateX(7%);
    }
    .topbar .nav-wrapper ul i {
        font-size: 19px;
        padding-top: 15px;
    }
    .topbar .nav-title {
        left: 50%;
        transform: translateX(9%);
        padding: 2px 0;
    }
    .topbar .nav-content .m7,
    .topbar .nav-content .nav-menu {
        padding: 0px;
    }
    .topbar .nav-content .social {
        left: 50%;
        transform: translateX(22%);
        padding: 0px;
    }
    .topbar .nav-content .nav-cta {
        display: inline;
    }
}

/***************** Body *******************/

.body .card-title {
    color: hsl(0, 0%, 13%);
    font-weight: 600;
    font-size: 20px;
}

.body .card-content {
    color: hsl(0, 0%, 29%);
    font-weight: 500;
    font-size: 17px;
}

.body .card-action {
    background: hsl(0, 0%, 97%);
    border-bottom: 4px solid hsl(145, 100%, 19%);
}

.body .card .card-action .author {
    display: flex;
}

.body .card .card-action .author .author-image {
    max-width: 20%;
    margin-right: 2px;
}

.body .card .card-action .author .author-image img {
    width: 40px;
}

.body .card .card-action .author .info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.body .card .card-action .author .info .name {
    font-weight: 700;
    text-transform: capitalize;
}

.body .card .card-action .author .info .date {
    font-weight: 500;
    color: hsl(120, 100%, 20%, 1);
}
