/**
 * ./src/style/post.css
 */

/******* TopBar Component ******/
.post-topbar {
    background: rgb(0, 100, 0);
}

.post-topbar .brand-logo {
    position: inherit;
    display: initial;
}

.post-topbar .blog-info {
    display: inline-block;
}
.post-topbar .blog-title {
    font-size: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 10px;
    padding-top: 9px;
}

.post-topbar .social {
    margin-left: 5px;
    display: inline-block;
}

.post-topbar .social a {
    display: inline-block;
    padding: 0 10px;
}

.post-topbar .social i {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.post-topbar .social a.btn {
    border-radius: 8px;
    height: 25px;
    line-height: 25px;
    margin-left: 15px;
    margin-top: -5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.3);
}

.post-topbar .nav-wrapper .user-image {
    width: 50px;
}

.post-topbar .nav-wrapper a.user-profile {
    margin-top: 10%;
}

.post-topbar .nav-content .menu {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.post-topbar .nav-content .menu::-webkit-scrollbar {
    display: none;
}

.post-topbar .nav-content .menu .item {
    display: inline-block;
    padding: 0 10px;
}

.post-topbar .nav-content .nav-cta h5 {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 10px;
}

.post-topbar .nav-content .menu .item h5 a,
.post-topbar .nav-content .nav-cta h5 a {
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.post-topbar ul a:hover {
    background-color: inherit;
}

/* Large Screen */

@media screen and (min-width: 993px) {
    .post-topbar .nav-wrapper,
    .post-topbar .nav-content {
        margin-left: 10%;
        margin-right: 7%;
    }
    .post-topbar .nav-wrapper .user-image {
        width: 50px;
    }
    .post-topbar .nav-wrapper a.user-profile {
        margin-top: 10%;
    }
    .post-topbar .nav-content .menu {
        margin-top: -40px;
    }
    .post-topbar .nav-content .nav-cta {
        margin-top: -40px;
    }
}

/* medium screen */
@media screen and (max-width: 992px) and (min-width: 601px) {
    .post-topbar .nav-wrapper,
    .post-topbar .nav-content {
        margin-left: 10%;
        margin-right: 7%;
    }
    .post-topbar .nav-wrapper ul i {
        padding-top: 0px !important;
    }
}

/* Small Screen */

@media screen and (max-width: 600px) {
    .post-topbar .nav-wrapper,
    .post-topbar .nav-content {
        margin-left: 5%;
        margin-right: 1%;
    }
    .post-topbar .nav-wrapper .brand-logo i {
        margin-top: 14px;
    }
    .post-topbar .nav-wrapper .brand-logo {
        font-size: 35px;
        left: 0%;
        transform: translateX(7%);
    }
    .post-topbar .nav-wrapper .hide-small {
        display: none;
    }

    .post-topbar .nav-wrapper ul i {
        font-size: 19px;
        padding-top: 15px;
    }

    .post-topbar .nav-wrapper .search {
        padding: 7px 0;
    }

    .post-topbar .nav-title {
        left: 50%;
        transform: translateX(9%);
        padding: 2px 0;
    }
    .post-topbar .nav-content .m12,
    .post-topbar .nav-content .nav-menu {
        padding: 0px;
    }
    .post-topbar .social {
        display: none;
    }
    .post-topbar .nav-content .nav-cta {
        display: inline;
    }
}

/************** Body **************/

.post-body .author-image {
    max-width: 11%;
}

.post-body .author-details a.follow {
    border-radius: 8px;
    height: 25px;
    line-height: 25px;
    margin-left: 15px;
    margin-top: -5px;
    border: 2px solid rgb(0, 100, 0);
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
    color: rgb(0, 100, 0);
}

.post-body .author-desc {
    margin-top: -10px;
    color: hsl(0, 0%, 45%);
}

.post-body .post-meta {
    margin-top: -15px;
    color: hsl(0, 0%, 45%);
}

.post-body .post {
    margin-top: 160px;
}

.post-body .post-content .post-title {
    color: hsl(0, 0%, 13%);
    font-weight: 700;
    font-size: 3rem;
}

.post-body .post-content .content {
    color: hsl(0, 0%, 27%);
    font-weight: 400;
    font-size: 17px;
    word-spacing: 1px;
}

.post-body .fixed-action-btn a.btn-large {
    background: rgb(0, 100, 0);
}

.post-body .fixed-action-btn a.btn-num {
    border: 1px solid rgb(0, 100, 0);
    background-color: #fff;
    color: rgb(0, 100, 0);
}

/* medium screen */
@media screen and (max-width: 992px) and (min-width: 601px) {
    .post-body .author-desc {
        display: none;
    }
    .post-body .author-name {
        margin-top: 19px;
    }
    .post-body .post-meta {
        margin-top: -8px;
    }
    .post-body .author-image {
        max-width: 17%;
    }
    .post-body .author-details a.follow {
        height: 22px;
        line-height: 19px;
    }
    .post-body .post {
        margin-top: 130px;
    }
    .post-body .post-content .post-title {
        font-size: 2rem;
    }
}

/* small screens */
@media screen and (max-width: 600px) {
    .post-body .author-desc {
        display: none;
    }
    .post-body .author-name {
        margin-top: -7px;
    }
    .post-body .post-meta {
        margin-top: -8px;
    }
    .post-body .author-image {
        max-width: 21%;
    }
    .post-body .author-details a.follow {
        height: 22px;
        line-height: 19px;
    }
    .post-body .post {
        margin-top: 70px;
    }
    .post-body .post-content .post-title {
        font-size: 2rem;
    }
}
