/**
 * ./src/style/post.css
 */

/************** Body **************/
.post-body {
    padding: 5%;
}

.post-body .author-image {
    max-width: 9%;
}

.post-body .author-name {
    margin: 0;
}

.post-body .author-details a.follow {
    border-radius: 8px;
    height: 25px;
    line-height: 25px;
    margin-left: 15px;
    margin-top: -5px;
    border: 2px solid rgb(0, 100, 0);
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
    color: rgb(0, 100, 0);
}

.post-body .author-desc {
    margin: 5px 0;
    color: hsl(0, 0%, 45%);
}

.post-body .post-meta {
    margin: 0px;
    color: hsl(0, 0%, 45%);
}

.post-body .comment-author-info .post-meta a {
    cursor: pointer;
}

.post-body .post {
    margin-top: 120px;
}

.post-body .post-content .post-title {
    color: hsl(0, 0%, 13%);
    font-weight: 700;
    font-size: 3rem;
}

.post-body .post-content .content {
    color: hsl(0, 0%, 27%);
    font-weight: 400;
    font-size: 17px;
    word-spacing: 1px;
}

.post-body .post .post-footer {
    padding: 30px 0px 0px;
}
.post-body .post .post-footer .post-tag {
    display: inline;
    background-color: hsl(0, 0%, 95%);
    padding: 7px;
    border-radius: 4px;
    margin-right: 15px;
}

.post-body .fixed-action-btn a.btn-large {
    background: rgb(0, 100, 0);
}

.post-body .fixed-action-btn a.btn-num {
    border: 1px solid rgb(0, 100, 0);
    background-color: #fff;
    color: rgb(0, 100, 0);
}

.post-body .response {
    margin-top: 50px;
}

.post-body .response h5 {
    font-weight: 600;
    color: hsl(0, 0%, 20%);
}

.post-body .response .resp-form {
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid hsl(0, 0%, 88%);
}

.post-body .response .resp-form .btn,
.post-body .response .reply-form .btn {
    background-color: #fff;
    color: rgb(0, 100, 0);
    border: 1px solid rgb(0, 100, 0);
}
.post-body .response .reply-form .btn-flat {
    color: rgb(0, 100, 0);
}
.post-body .response .collection .title {
    font-weight: 500;
    font-size: 20px;
    margin: 5px 0 0 0;
}

.post-body .response .collection .comment-author .comment-author-image {
    max-width: 8%;
}

.post-body .response .collection .comment-author .comment-author-info {
    padding-left: 1px;
}

.post-body .response .collection .comment-resp {
    margin-top: -17px;
    font-size: 16px;
    word-spacing: 1px;
    color: hsl(0, 0%, 30%);
}

/* Large Screen */

@media screen and (min-width: 993px) {
    .post-body .response .collection .comment-resp {
        margin-right: 15%;
    }
    .post-body .response .reply-form {
        width: 60%;
    }
    .post-body .fixed-action-btn {
        right: 15%;
        bottom: 50%;
    }
    .post-body .fixed-action-btn a.btn-large {
        border: 1px solid rgb(0, 100, 0);
        background-color: #fff;
    }

    .post-body .fixed-action-btn a.btn-large i {
        color: rgb(0, 100, 0);
    }
    
    .post-body .fixed-action-btn a.btn-num {
        border: 1px solid rgb(0, 100, 0);
        background-color: #fff;
        color: rgb(0, 100, 0);
    }
}

/* medium screen */
@media screen and (max-width: 992px) and (min-width: 601px) {
    .post-body .author-desc {
        display: none;
    }
    .post-body .author-name {
        margin-top: 4px;
    }
    .post-body .author-image {
        max-width: 14%;
    }
    .post-body .author-details a.follow {
        height: 22px;
        line-height: 19px;
    }
    .post-body .post-meta {
        margin-top: 0px;
    }
    .post-body .post {
        margin-top: 100px;
    }
    .post-body .post-content .post-title {
        font-size: 2rem;
    }
    .post-body .response .reply-form {
        width: 80%;
    }
}

/* small screens */
@media screen and (max-width: 600px) {
    .post-body .author-desc {
        display: none;
    }
    .post-body .author-name {
        margin-top: 0px;
    }
    .post-body .author-image {
        max-width: 27%;
    }
    .post-body .author-details a.follow {
        height: 22px;
        line-height: 19px;
    }
    .post-body .post-meta {
        margin-top: 0px;
    }
    .post-body .post {
        margin-top: 50px;
    }
    .post-body .post-content .post-title {
        font-size: 2rem;
    }
    .post-body .response .collection .comment-author .comment-author-image {
        max-width: 22%;
    }
    .post-body .preloader-cont {
        margin-left: 39%;
        padding: 3% 4%;
    }
}
