/******* TopBar Component ******/
.topbar {
    background: rgb(0, 100, 0);
}

.topbar .brand-logo {
    position: inherit;
    display: initial;
}

.topbar .blog-info {
    display: inline-block;
}
.topbar .blog-title {
    font-size: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 10px;
    padding-top: 9px;
}

.topbar .social {
    margin-left: 5px;
    display: inline-block;
}

.topbar .social a {
    display: inline-block;
    padding: 0 10px;
}

.topbar .social i {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.8);
}

/* .topbar .social a.btn.following {
    border-radius: 8px;
    height: 25px;
    line-height: 25px;
    margin-left: 15px;
    margin-top: -5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.3);
} */

.topbar .social a.btn.follow {
    border-radius: 8px;
    height: 25px;
    line-height: 25px;
    margin-left: 15px;
    margin-top: -5px;
    background-color: transparent;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    border: 1.4px solid rgba(255, 255, 255, 0.8);
}

.topbar .nav-wrapper .user-image {
    width: 50px;
}

.topbar .nav-wrapper a.user-profile {
    margin-top: 10%;
}

.topbar .nav-wrapper li a {
    color: rgba(255, 255, 255, 0.8);
}

.topbar .nav-wrapper li a.btn {
    background-color: transparent;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    border: 1.4px solid rgba(255, 255, 255, 0.8);
}

.topbar .nav-content .menu {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.topbar .nav-content .menu::-webkit-scrollbar {
    display: none;
}

.topbar .nav-content .menu .item {
    display: inline-block;
    padding: 0 10px;
}

.topbar .nav-content .nav-cta h5 {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 10px;
}

.topbar .nav-content .menu .item h5 a,
.topbar .nav-content .nav-cta h5 a {
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.topbar ul a:hover {
    background-color: inherit;
}

/* Large Screen */

@media screen and (min-width: 993px) {
    .topbar .nav-wrapper,
    .topbar .nav-content {
        margin-left: 10%;
        margin-right: 7%;
    }
    .topbar .nav-wrapper .user-image {
        width: 50px;
    }
    .topbar .nav-wrapper a.user-profile {
        margin-top: 10%;
    }
    .topbar .nav-content .menu {
        margin-top: -40px;
    }
    .topbar .nav-content .nav-cta {
        margin-top: -40px;
    }
}

/* medium screen */
@media screen and (max-width: 992px) and (min-width: 601px) {
    .topbar .nav-wrapper,
    .topbar .nav-content {
        margin-left: 10%;
        margin-right: 7%;
    }
    .topbar .nav-wrapper ul i {
        padding-top: 0px !important;
    }
}

/* Small Screen */

@media screen and (max-width: 600px) {
    .topbar .nav-wrapper,
    .topbar .nav-content {
        margin-left: 5%;
        margin-right: 1%;
    }
    .topbar .nav-wrapper .brand-logo i {
        margin-top: 14px;
    }
    .topbar .nav-wrapper .brand-logo {
        font-size: 35px;
        left: 0%;
        transform: translateX(7%);
    }
    .topbar .nav-wrapper .hide-small {
        display: none;
    }

    .topbar .nav-wrapper ul i {
        font-size: 19px;
        padding-top: 15px;
    }

    .topbar .nav-wrapper .search {
        padding: 7px 0;
    }

    .topbar .nav-wrapper a.hide-on-med-and-up {
        padding: 6px 9px;
        color: #ffff;
    }

    .topbar .nav-title {
        left: 50%;
        transform: translateX(9%);
        padding: 2px 0;
    }
    .topbar .nav-content .m12,
    .topbar .nav-content .nav-menu {
        padding: 0px;
    }
    .topbar .social {
        display: none;
    }
    .topbar .nav-content .nav-cta {
        display: inline;
    }
}
