/* Posts */

.admin-posts {
    padding-top: 30px;
}

.admin-posts .posts-info {
    padding-left: 30px;
}

.admin-posts .posts-info span {
    padding-right: 5px;
    font-size: 19px;
}

.admin-posts .posts-list {
    background-color: #fff;
    padding: 12px 15px;
}

.admin-posts .posts-list .collapsible-header:focus{
    outline: none;
}

.admin-posts .posts-list .collapsible-body{
    padding: 0;
    padding-top: 1px;
    background-color: #fbfbfb;
    border: none;
    border-left: #0e66af 4px solid;
}

.admin-posts .posts-list .collapsible-body > *{
    padding: 0 2rem;
}

.admin-posts .posts-list .collapsible-body .post-body{
    font-size: 15px;
    font-weight: 500;
}

.admin-posts .posts-list .collapsible-body .post-tags,
.admin-posts .posts-list .collapsible-body .post-claps {
    font-size: 13.216px;
    color: #545050;
}

.admin-posts .posts-list .collapsible-body .actions{
    padding-bottom: 1px;
    padding-left: 17px;
}

.admin-posts .posts-list .collapsible-body .actions .btn-flat:hover{
    background: none;
}

.admin-posts .posts-list .collapsible-body .actions .delete {
    color: rgba(228, 17, 17, 0.89);
}

.admin-posts .posts-list .collapsible-body .actions .view {
    color: #222;
}

.admin-posts .posts-list .collapsible-body .actions .edit {
    color: #2d587c;
}

.admin-posts .posts-list .post-title {
    font-size: 19px;
    font-weight: 600;
}

.admin-posts .posts-list table td.big {
    width: 33.3333%;
}

.admin-posts .posts-list table td.small {
    width: 16.6667%;
}

.admin-posts .posts-list table td.small span,
.admin-posts .posts-list .mobile-list .collection-item .actions span {
    padding-right: 7px;
}

.admin-posts .posts-list table td.small .delete,
.admin-posts .posts-list .mobile-list .collection-item .actions .delete {
    color: rgba(228, 17, 17, 0.89);
}

.admin-posts .posts-list table td.small .view,
.admin-posts .posts-list .mobile-list .collection-item .actions .vies {
    color: #222;
}

.admin-posts .posts-list table td.small .edit,
.admin-posts .posts-list .mobile-list .collection-item .actions .edit {
    color: #2d587c;
}

.admin-posts .posts-list .mobile-list .collection {
    border: none;
}
.admin-posts .posts-list .mobile-list .collection-item {
    padding: 5px 10px;
}
.admin-posts .posts-list .mobile-list .collection-item h5 {
    font-size: 20px;
}
.admin-posts .posts-list .mobile-list .collection-item span {
    color: hsl(0, 0%, 40%);
}

/* large screen */
@media screen and (min-width: 993px) {
    .admin-posts .posts-list .post-title {
        flex: 1;
    }
}
@media screen and (max-width: 600px) {
    .admin-posts .posts-list {
        border-left: none;
    }
    .admin-posts .posts-list .collapsible-header {
        display: block;
    }
    .admin-posts .posts-list .post-title {
        display: block;
    }
}
